* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .botoes {
    flex-direction: column; /* Botões empilhados em telas pequenas */
    margin-bottom: 10px;
}}

.produto-imagem {
    width: 100px; /* Ajuste o tamanho da imagem dos produtos */
}

#cardapio {
  text-align: center;
  color: palevioletred; /* Rosa claro */
}

.ingredientes-usados{
  text-align: left;

}

.ingredientes-usados h3 {
  margin-left: 30px;
  border: 5px #FFC0CB;
}

.botoes button {
  background-color: #FFC0CB; /* Rosa claro */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
  margin: 8px; /* Espaçamento entre os botões */
}

/* Estilo para o botão quando o mouse está sobre ele */
.botoes button:hover {
  background-color: white;
  color: #FFC0CB; /* Rosa claro */
  border: 1px solid #FFC0CB; /* Adiciona uma borda rosa */
}


.header {
  background: #ffc0cb;
  display: flex;
  justify-content: center;      /* Centraliza o logo e o título */
  align-items: center;          /* Alinha verticalmente ao centro */
  margin: 0;                    /* Remove margem superior */
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

h4 {
  margin-top: 10px;
}

p { 
  text-align: justify;
}

.logo {
  background-color: #ffc0cb;
  width: 50px;                  /* Ajuste o tamanho da logo */
  height: auto;                 /* Mantém a proporção da logo */
  margin-right: 10px;           /* Espaçamento entre logo e texto */
}

h2 {
  background: #ffc0cb;
  color: white;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */

}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;          /* Menos espaço entre os produtos */
  padding: 5px; 
  font-family: 'Quicksand', sans-serif;
}

.produto {
  display: flex;
  align-items: flex-start;      /* Alinha itens no início do contêiner */
  margin: 10px 0;              /* Espaçamento entre os produtos */
  width: 100%;
  max-width: 800px;            /* Largura máxima do contêiner do produto */
  background-color: #fff;
  border: 1px solid #ffc0cb;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra atrás do produto */
  font-family: 'Quicksand', sans-serif;
}

.produto-imagem {
  width: 110px;                /* Ajuste o tamanho da imagem */
  height: auto;
  border-radius: 8px;
  margin: 15px;         /* Espaçamento entre a imagem e o texto */
}

.produto-info {
  display: flex;
  flex-direction: column;      /* Alinha itens verticalmente */
  justify-content: center;     /* Alinha itens verticalmente ao centro */
  align-items: baseline;
  font-family: 'Quicksand', sans-serif;
}

.produto-info h3 {
  margin: 0;
  font-size: 0.8rem;          /* Ajusta o tamanho do nome do produto */
  font-family: 'Quicksand', sans-serif;
}

.produto-info p {
  margin: 0;
  font-size: 0.9rem;          /* Ajuste o tamanho da fonte do parágrafo */
  font-family: 'Quicksand', sans-serif;
}

.preco {
  font-weight: bold;
  color: #9b9c9c7e; /* Rosa mais escuro */
  margin-top: 8px;
  font-size: 0.8rem;             /* Ajuste o tamanho da fonte do preço, se necessário */
  font-family: 'Quicksand', sans-serif;
}

.rodape  { 
  background: #ffc0cb;
  color: white;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}