<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap"
  rel="stylesheet">

<section id="cardapio">
  <div class="header">
    <img src="assets/danika-png.png" alt="Danika Gourmet Logo" class="logo">
    <h2>DANIKA GOURMET</h2>
  </div>
  <div class="produtos">
    <h3 class="lista-produtos">Confira Nosso Cardápio!</h3>
    <div class="produto">
      <img src="assets/monoffe.jpeg" alt="monoffe" class="produto-imagem">
      <div class="produto-info">
        <h4>Monoffe</h4>
        <p>Aqui será a descrição do produtos, ingredientes, para quantas pessoas serve.</p>
        <span class="preco">R$ 00,00</span>
      </div>
    </div>
    <div class="produto">
      <img src="assets/produto2.jpg" alt="Nome do Produto" class="produto-imagem">
      <h4>Nome do Produto</h4>
      <p>Descrição do Produto</p>
      <span class="preco">R$ 00,00</span>
    </div>
  </div>
</section>