* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff; /* Defina o fundo como branco */
    color: #000000; /* Defina o texto como preto ou outra cor visível */
  }
}


@media (max-width: 37.5rem) { /* 600px = 37.5rem */
  .botoes {
    flex-direction: column; /* Botões empilhados em telas pequenas */
    margin-bottom: 0.625rem; /* 10px = 0.625rem */
  }
}

.produto-imagem {
  width: 6.25rem; /* 100px = 6.25rem */
}

#cardapio {
  text-align: center;
  color: palevioletred; /* Rosa claro */
}

.ingredientes-usados {
  text-align: left;
}

.ingredientes-usados h3 {
  margin-left: 1.875rem; /* 30px = 1.875rem */
  border: 0.3125rem solid #FFC0CB; /* 5px = 0.3125rem */
}

.botoes button {
  background-color: #FFC0CB; /* Rosa claro */
  color: white;
  border: none;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  font-size: 0.75rem; /* 12px = 0.75rem */
  border-radius: 0.3125rem; /* 5px = 0.3125rem */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
  margin: 0.5rem; /* 8px = 0.5rem */
}

/* Estilo para o botão quando o mouse está sobre ele */
.botoes button:hover {
  background-color: white;
  color: #FFC0CB; /* Rosa claro */
  border: 0.0625rem solid #FFC0CB; /* 1px = 0.0625rem */
}

.header {
  background: #ffc0cb;
  display: flex;
  justify-content: center;      /* Centraliza o logo e o título */
  align-items: center;          /* Alinha verticalmente ao centro */
  margin: 0;                    /* Remove margem superior */
  padding: 0.625rem; /* 10px = 0.625rem */
  font-family: "Montserrat", sans-serif;
}

h4 {
  margin-top: 0.625rem; /* 10px = 0.625rem */
}

p { 
  text-align: justify;
}

.logo {
  background-color: #ffc0cb;
  width: 3.125rem; /* 50px = 3.125rem */
  height: auto;                 
  margin-right: 0.625rem; /* 10px = 0.625rem */
}

h2 {
  background: #ffc0cb;
  color: white;
  margin-top: 0.9375rem; /* 15px = 0.9375rem */
  padding: 0.625rem; /* 10px = 0.625rem */
  font-size: 1.5rem;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3125rem 0; /* 5px = 0.3125rem */
  padding: 0.3125rem; /* 5px = 0.3125rem */
  font-family: 'Quicksand', sans-serif;
}

.produto {
  display: flex;
  align-items: flex-start;      /* Alinha itens no início do contêiner */
  margin: 0.625rem 0; /* 10px = 0.625rem */
  width: 100%;
  max-width: 50rem; /* 800px = 50rem */
  background-color: #fff;
  border: 0.0625rem solid #ffc0cb; /* 1px = 0.0625rem */
  border-radius: 0.5rem; /* 8px = 0.5rem */
  padding: 0.3125rem; /* 5px = 0.3125rem */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px 8px = 0.25rem 0.5rem */
  font-family: 'Quicksand', sans-serif;
}

.produto-imagem {
  width: 6.875rem; /* 110px = 6.875rem */
  height: auto;
  border-radius: 0.5rem; /* 8px = 0.5rem */
  margin: 0.9375rem; /* 15px = 0.9375rem */
}

.produto-info {
  display: flex;
  flex-direction: column;      /* Alinha itens verticalmente */
  justify-content: center;     /* Alinha itens verticalmente ao centro */
  align-items: baseline;
  font-family: 'Quicksand', sans-serif;
}

.produto-info h3 {
  margin: 0;
  font-size: 0.8rem;          
  font-family: 'Quicksand', sans-serif;
}

.produto-info p {
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Quicksand', sans-serif;
}

.preco {
  font-weight: bold;
  color: #9b9c9c7e; /* Rosa mais escuro */
  margin-top: 0.5rem; /* 8px = 0.5rem */
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
}

.rodape  { 
  background: #ffc0cb;
  color: white;
}

.example-label {
  display: table-cell;
  font-size: 0.875rem; /* 14px = 0.875rem */
  margin-left: 0.5rem; /* 8px = 0.5rem */
  min-width: 7.5rem; /* 120px = 7.5rem */
}

.example-button-row {
  display: table-cell;
  max-width: 37.5rem; /* 600px = 37.5rem */
}

.example-button-row .mat-mdc-button-base {
  margin: 0.5rem 0.5rem 0.5rem 0; /* 8px = 0.5rem */
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 7.5rem; /* 120px = 7.5rem */
}
